---
import Button from '../components/Button.astro';
---

<section class="grid grid-cols-1 gap-8 md:grid-cols-2">

    <div class="pb-20 pt-20 pl-8 md:pl-20">
        <h1 class="text-white text-5xl font-bold font-Prompt mb-4">Velkommen til Dansestudiet </h1>
        <h2 class="text-2xl text-yellow font-semibold font-Prompt mb-4">Tilmelding til forårssæsonen 2024 nu åben</h2>
        <ul class="list-disc text-xl text-white md:text-base font-Prompt md:mb-24 mb-4 ml-5">
            <li>Mere end 50 danseklasser ugenligt </li>
            <li>For alle aldre og niveauer </li>
        </ul>

        <Button variant="primary" size="large">SE SKEMAET HER</Button>
    </div>

    <div>
        <img class="" src="dansepige.png" alt="danse">
    </div>

</section>