---
import Workshops from "../components/Workshops.astro";
import Audition from "../components/Audition.astro"

---

<section class="grid grid-cols-1 gap-8 lg:grid-cols-2">
<div class="flex justify-center"><Workshops></Workshops></div>
<div class="flex justify-center"><Audition></Audition></div>
</section>