<section class="pb-32">
    <h2 class="text-4xl text-yellow font-semibold font-Prompt mb-4 flex justify-center pt-20 pb-10">Følg os på sociale medier her</h2>

    <section class="grid grid-cols-3 grid-rows-2 gap-5">
     <div class="grid items-center justify-center">   <img class="h-96" src="1.png" alt=""></div>
      <div class="grid items-center justify-center">  <img class="h-96" src="2.png" alt=""></div>
      <div class="grid items-center justify-center">  <img class="h-96" src="3.png" alt=""></div>
       <div class="grid items-center justify-center"> <img class="h-96" src="4.png" alt=""></div>
      <div class="grid items-center justify-center">  <img class="h-96" src="5.png" alt=""></div>
     <div class="grid items-center justify-center">   <img class="h-96" src="6.png" alt=""></div>
    </section>

</section>
