---
import Button from '../components/Button.astro';
---

<section class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:gap-28">

    <div class="pb-20 pt-20 pl-8 md:pl-20">
        <h2 class="text-2xl text-blue font-semibold font-Prompt mb-4">26 top kompetente undervisere!</h2>
        <p class="text-xl text-blue md:text-base font-Prompt md:mb-24 mb-4 lg:mb-10">På Dansestudiet ansætter vi erfarne undervisere med ekspertise og passion for deres dansegenre. Vores team kombinerer fremragende dansefærdigheder med stærke formidlingsevner og engagement, hvilket skaber en dynamisk atmosfære for dansere på alle niveauer. Vi er stolte af vores dedikerede underviserteam og deres bidrag til vores unikke dansemiljø.</p>

        <Button variant="secondary" size="large">MØD DEM HER</Button>
    </div>

    <div class="m-10">
<img src="nanna.png" alt="nanna">
    </div>

</section>