---
import Button from '../components/Button.astro';
---

<section x-data="{ alledansehold: []}" x-init="alledansehold = await (await fetch('cards.json')).json(); alledansehold.reverse();" class="mb-16">
			<h2 class="text-2xl text-blue font-semibold font-Prompt mb-4 md: flex justify-center">Månedens workshop</h2>
			<!-- alt hvad der omhandler cards til workshop -->
			<section class="grid md:grid-cols-1 gap-4 pb-5">
				<template x-for="dansehold in alledansehold" :key="dansehold.id">	
					<article class="card border-2 border-blue rounded-lg bg-blue pb-10">
						<a href="">

							<header class="mb-4 relative">
							<div class="flex-none"><img :src="dansehold.holdbillede" :alt="dansehold.hodlbilledealt" class="objekt-cover h-72 w-96 rounded-lg"></div>
							</header>

							<section class="p-4 bg-blue">
								<h3 class="text-xl text-white font-semibold font-Prompt pb-2" x-text="dansehold.holdnavn"></h3>
								<div class="grid grid-cols-2 text-sm text-white font-Prompt">
									<div class="venstre">
                                        <div><span>Dato: </span><span x-text="dansehold.dato"></span></div>
										<div><span>Tid: </span><span x-text="dansehold.tidspunkt"></span></div>
                                        <div><span>Pris: </span><span x-text="dansehold.pris"></span></div>
									</div>
									<div class="hoejre">
										<div><span>Alder: </span><span x-text="dansehold.alder"></span></div>
										<div><span>Niveau: </span><span x-text="dansehold.niveau"></span></div>
									</div>
								</div>
							</section>

							<section class="flex my-6 gap-4 p-4">
								<div class="flex-none"><img :src="dansehold.underviserfoto" :alt="dansehold.underviserfotoalt" class="objekt-cover h-16 w-16 rounded-full"></div>
								<div class="text-sm text-white font-Prompt pt-3">
								<p class="font-bold">Underviser:</p>
								<p x-text="dansehold.underviser"></p>
								</div>
                             </section>

                             <a class="pl-5" href="https://dansestudiet.dk/maanedens-workshop/"><Button variant="tertiary" size="medium">Læs mere</Button></a>
						</a>
					</article>
				</template>
			</section>
			<!-- slut på alt hvad der omhandler cards til workshop -->
		</section>